.navbar {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar img {
    height: 150px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    margin: 5px;
}

.navbar a:hover {
    background-color: #737373;
    color: white;
}

.navbar a.active {
    background-color: #737373;
    color: white;
}

.loginbtn {
    background-color: black;
    font-weight: bold;
    margin: 5px
}

.signUpbtn {
    background-color: #69A1A2;
    font-weight: bold;
    margin: 20px;
    border-radius: 5px;
}